.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  height: 260px;
  background-color: rgba(219, 215, 241, 0.932);
  line-height: 50px;
  border-radius: 30px;
}

.title {
  color: rgb(90, 68, 216);
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
  font-weight: 700;
}

label {
  /* width: 500px;
  background-color: azure;
  line-height: 200px;
  background-color: aliceblue; */
  color: black;
  font-size: 20px;
  font-weight: 300;
  margin: 20px;
}

select {
  width: 80px;
  height: 30px;
  /* padding: 30px; */
  background-color: rgb(203, 197, 241);
  border-radius: 10px;
  text-align: center;
  border: 2px solid rgb(90, 68, 216);
}

.submitButton {
  width: 70px;
  height: 30px;
  font-size: 20px;
  border: 2px solid rgb(90, 68, 216);
  border-radius: 10px;
  color: rgb(90, 68, 216);
  background-color: rgba(101, 76, 241, 0.199);
  font-weight: bold;
}
